@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    padding: 32px;
    /* display: flex;
    margin: 0 auto; */
}

nav {
    height: 44px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    height: calc(100vh - 76px);
}

h1 {
    color: #1a202c;
    font-size: 36px;
    font-weight: 700;
}

h2 {
    color: #243e63;
    font-weight: 900;
    font-size: 24 px;
}

a {
    text-decoration: none;
    color: rgb(61, 60, 60);
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 4px;
    list-style-type: none;
}

button {
    font-size: 16px;
    font-weight: 600;
    background-color: #6415ff;
    color: white;
    padding: 12px 32px;
    border: 0px;
    border-radius: 9999px;
}

.text--purple{
    color: #6415FF;
}

.container {
    padding: 92px 0;
    
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.section__title{
    font-size: 48px;
    color: #243e63;
    font-weight: 900;
    padding: 12px 0;
}

.section__subtitle{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
}

.section__description{
    font-size: 18px;
    color: #7C8BA1;
    font-weight: 500;
    line-height: 1.625;
    margin-top: 16px;
}

/* HEADER */

.nav__container {}

.nav__img {
    width: 40px;
    margin-right: 12px;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__links {
    display: flex;
    justify-content: center;
}

.nav__link--margin-left {
    margin: 0 24px 0 48px;
}

.nav__link{
    margin: 0 24px;
}

.nav__link--primary{
    font-size: 14 px;
    font-weight: 600;
    background-color: #6415ff;
    color: white;
    padding: 12px 32px;
    border: 0px;
    border-radius: 9999px;
}



/* 
MAIN
 */

.main__content {
    width: 40%;
    position: relative;
}

.main__img--wrapper {
    width: 60%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.main__img {
    width: 100%;
    height: 80%;
}

.section__para {
    color: #243e24;
    font-size: 16px;
    line-height: 1.5;
    margin: 32px 0;
}

.section__main--title{
    font-size: 36px;
    color: #1a202c;
}

.main__btn--wrapper {
    width: 100%;
    position: relative;
}

.main__input {
    width: 100%;
    padding: 20px 32px;
    border: solid #e7eaf1 2px;
    border-radius: 9999px;
}

::placeholder {
    font-size: 16px;
    color: #e7eaf1
}

.main__btn {
    position: absolute;
    right: 8px;
    top: 8px;
}

.main__customer {
    position: absolute;
    bottom: 0;
    margin-top: 80px;
}

.main__customer--description {
    color: #a0aec0;
    font-size: 14px;
}

.main__customer--img {
    width: 100%;
    padding: 0 64px 0 0;
    margin-top: 16px;
    opacity: 0.5;
}

/* 
FEATURES
 */

 .features__wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }


 
 .section__features--title{
    text-align: center;
 }

 .section__features--description{
    text-align: center;
 }

.features__services{
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
}

.features__service{
    display: flex;
    width: calc(100% / 3);
    padding: 32px 24px;
  
}

.features__img {
    padding: 20px;
    border: 1px solid rgb(226, 232, 240) ;
    border-radius: 99999px;
    text-align: center;
}

.features__service--description{
    margin: 8px 0px 0px 16px;
}

.features__description--para{
    font-size: 16px;
    color: #7C8BA1;
    margin-top: 16px;
    line-height: 2;
    font-weight: 500;
}

/* 
QUALITY 
 */
.quality__description--wrapper{
    width: 50%;
    padding-right:  24px; ;
}

.quality__button{
margin-top: 32px;
}

.quality__img--wrapper{
    width: 50%;
    display: flex;
    align-items: center;
}
.quality__img{
    width: 100%;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 4px;
}